<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.carlos.appcurso">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UI.BaseActivity"
            android:label="@string/title_activity_base"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleInstance">



        </activity>

        <activity
            android:name=".UI.Login"
            android:label="Jack of All Trades"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleInstance"
            android:icon="@drawable/gaming_joker_icon"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <service android:name="com.example.carlos.appcurso.Domain.MusicService" android:enabled="true">
        </service>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a79ac13fd0e3fea92f5b15caf9ad1b8958571ced" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>